app:
  base-url: ${APP_BASE_URL:https://doogoo-be-ics-test-production.up.railway.app}

server:
  port: ${PORT:8080}

spring:
  application:
    name: doogoo
  datasource:
    url: jdbc:h2:mem:doogoo;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.H2Dialect
